label
{
  float: left;
  width: 200px;
}

form p{
  clear: left;
}

input[type="text"]{
    width: 250px;
    margin-left: 313px;
    margin-top: 0px;
}

body{
	background-color: #333333;
}

li{
	display: inline;
	text-decoration: none;
}


ul{
    margin: 0 auto;
    margin-top: 20px;
    padding: 0;
}
	

.a2{   
  font-family: Arial;
	background-color: white;
  font-size: 13px;
  width: 640px;
	border: 25px black;
	padding: 25px;
  margin: 0 auto;
}

#logo{
    margin-left: 330px;
    margin-top: 50px;
}

#regel{
    background-color: #CF000F;
    height: 27px;
    width: 690px;
    margin: 0 auto;
}

ul .zin1, .zin{
    margin-left: 9px;
    color: white;
    line-height: 25px;


}

footer{
    background-color: dimgrey;
    height: 27px;
    width: 690px;
    margin: 0 auto;
    line-height: 27px;
    color: white;
}

div{
  margin: 0;
  padding: 0;
}

